.requisites {
  position: fixed;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  z-index: 999;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  @media (max-width: 768px) {
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    padding: 20px 0;
  }
}

.requisites__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: var(--color-payments-modal-bg);
  width: 720px;
  padding: 35px;
  border-radius: 16px;

  h2 {
    font-size: 26px;
    font-weight: 500;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  p {
    font-size: 16px;
    opacity: 0.6;
    font-weight: 300;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .requisites__form__block {
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 16px;
      gap: 10px;
      background: var(--color-requisites-input);

      label {
        font-size: 13px;
        font-weight: 300;
        opacity: 0.6;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      input {
        background: none;
        letter-spacing: 1px;
        color: var(--color-black);

        @media (max-width: 768px) {
          font-size: 16px;
        }

        &::placeholder {
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }

    button {
      padding: 20px;
      background: var(--color-blue);
      border-radius: 16px;
      color: var(--color-white);
      margin-top: 20px;

      @media (max-width: 768px) {
        padding: 15px;
        margin-top: 15px;
      }
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    padding: 20px;
  }
}

.requisites__check {
  display: flex;
  align-items: center;
  gap: 10px;
}

.requisites__form__block__special {
  opacity: 0.5;
}
