.additional_telephone {
  margin-top: 25px;

  @media (max-width: 480px) {
    margin-top: 15px;
  }
}

.additional_telephone__wrapper {
  padding: 35px;
  background: var(--color-gray-secondary);
  border-radius: 20px;

  h2 {
    font-weight: 600;
    font-family: "Inter", sans-serif;

    @media (max-width: 480px) {
      font-size: 19px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 15px;
    margin-top: 15px;

    & > div {
      flex: 1 1 calc(50% - 7.5px);
      display: flex;
      flex-direction: column;
      gap: 4px;

      @media (max-width: 780px) {
        flex: 1 1 100%;
      }

      li {
        flex: 1;
      }

      .input_error_text {
        color: var(--color-red);
        font-size: 12px;
        font-weight: 300;
        padding-left: 5px;
      }
    }

    & > li {
      flex: 1 1 calc(50% - 7.5px);
      align-self: stretch;

      @media (max-width: 780px) {
        flex: 1 1 100%;
      }
    }

    & > *:last-child {
      flex: 1 1 100%;
    }

    li {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px;
      background: var(--color-block-bg);
      border-radius: 14px;
      border: 1px solid var(--color-border-address);
      transition: border-color 0.2s;

      @media (max-width: 550px) {
        padding: 10px;
      }

      &.li_error {
        border-color: var(--color-red);
      }
    }
  }

  @media (max-width: 550px) {
    padding: 18px;
  }
}

.additional_telephone__item__icon {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  background: var(--color-gray-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    color: var(--color-blue-secondary);
  }
}

.additional_telephone__item__text {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    &:first-child {
      font-size: 13px;
      opacity: 0.6;
      font-weight: 300;
    }

    &:last-child {
      font-weight: 600;

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
}
