.best_offer {
  margin-top: 100px;

  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.best_offer__wrapper {
  background: var(--color-blue);
  padding: 40px;
  border-radius: 20px;

  display: flex;
  align-items: center;

  gap: 30px;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: -15%;
    left: -10%;

    width: 140%;
    height: 140%;

    background: url("../../../assets/icons/ruble.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 710px) {
      top: 35%;
      left: -15%;

      width: 80%;
      height: 90%;
    }

    @media (max-width: 520px) {
      top: 50%;
    }

    @media (max-width: 425px) {
      top: 60%;
    }

    @media (max-width: 380px) {
      top: 70%;
    }
  }

  @media (max-width: 710px) {
    flex-direction: column;
    padding: 20px;
    padding-bottom: 150px;
    gap: 20px;
  }
}

.best_offer__left {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: start;

  z-index: 1;

  h2 {
    font-size: 42px;
    color: var(--color-white);

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 960px) {
      font-size: 28px;
    }
  }

  p {
    color: var(--color-white);
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;

    @media (max-width: 425px) {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  a {
    display: block;
    margin-top: 60px;
    background: var(--color-red);
    padding: 20px 60px;
    border-radius: 16px;
    font-size: 17px;
    color: var(--color-white);
    font-weight: 600;

    touch-action: manipulation;

    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: 1024px) {
      font-size: 14px;
    }

    @media (max-width: 710px) {
      width: calc(100% - 40px);
      position: absolute;
      margin: 60px auto 0 auto;
      transform: none;
      padding: 15px;
      text-align: center;
      top: 72%;
    }

    @media (max-width: 425px) {
      top: 77%;
    }
  }

  @media (max-width: 710px) {
    width: 100%;
  }
}

.best_offer__card {
  top: -250%;
  left: 0;
}

.best_offer__right,
.best_offer__card {
  width: 100%;
  background: var(--color-white);
  padding: 25px;
  border-radius: 16px;

  position: relative;
  transform-style: preserve-3d;

  .best_offer__right__top {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .best_offer__right__top__bank {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 56px;
      height: 56px;
      -o-object-fit: contain;
      object-fit: contain;

      @media (max-width: 960px) {
        width: 45px;
        height: 45px;
      }
    }

    .best_offer__right__top__title {
      display: flex;
      flex-direction: column;
      gap: 5px;

      p {
        font-size: 14px;
        font-weight: 300;

        @media (max-width: 1024px) {
          font-size: 12px;
        }

        @media (max-width: 960px) {
          font-size: 10px;
        }
      }

      h3 {
        font-weight: 500;
        font-size: 20px;

        @media (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;

    width: 95%;
    height: 100%;
    border-radius: 16px;

    background: linear-gradient(
      180deg,
      rgba(161, 202, 255, 0.4) 80%,
      rgba(255, 255, 255, 1) 100%
    );
    left: 3%;
    top: 7%;

    transform: translateZ(-1px);
  }

  &::after {
    content: "";
    position: absolute;

    width: 90%;
    height: 100%;
    border-radius: 16px;

    background: linear-gradient(
      180deg,
      rgba(235, 235, 235, 0.4) 100%,
      rgba(255, 255, 255, 1) 100%
    );
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    left: 6%;
    top: 12%;

    transform: translateZ(-2px);
  }

  @media (max-width: 710px) {
    width: 100%;
  }
}

.best_offer__right__top__die {
  padding: 5px 18px;
  color: var(--color-white);
  background: var(--color-black);

  border-radius: 8px;

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 960px) {
    padding: 5px 10px;
  }

  @media (max-width: 860px) {
    display: none;
  }
}

.best_offer__right__main {
  margin-top: 20px;

  .best_offer__right__main__credit_item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    background: var(--color-gray-secondary);

    padding: 5px 20px;
    border-radius: 16px;

    p {
      &:first-child {
        font-size: 14px;
        font-weight: 300;

        @media (max-width: 1024px) {
          font-size: 12px;
        }

        @media (max-width: 768px) {
          font-size: 10px;
        }

        @media (max-width: 425px) {
          font-size: 12px;
        }
      }

      &:last-child {
        font-weight: 800;
        font-size: 22px;

        @media (max-width: 1024px) {
          font-size: 16px;
        }

        @media (max-width: 960px) {
          font-size: 14px;
        }

        @media (max-width: 768px) {
          font-size: 12px;
        }

        @media (max-width: 425px) {
          font-size: 16px;
        }
      }
    }
  }
}

.best_offer__right__main__other {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  .best_offer__right__main__credit_item {
    width: 100%;
  }

  @media (max-width: 425px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}

.best_offer__right__next {
  position: absolute;

  width: 100%;
  height: 100%;
}

.best_offer__right__container {
  width: 50%;
  position: relative;

  @media (max-width: 710px) {
    width: 100%;
  }
}