.credit {
  margin-top: 100px;

  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.credit__wrapper {
  background: var(--color-gray-secondary);
  padding: 40px;
  border-radius: 20px;

  .credit__title {
    font-size: 42px;
    font-weight: 600;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 860px) {
      font-size: 28px;
    }
  }

  .credit__desc {
    font-size: 16px;
    font-weight: 300;
    width: 605px;

    @media (max-width: 1024px) {
      // font-size: 14px;
    }

    @media (max-width: 668px) {
      width: 100%;
    }
  }

  @media (max-width: 1400px) {
    padding: 30px;
  }

  @media (max-width: 520px) {
    padding: 20px;
  }
}

.credit__main {
  background: var(--color-white);
  border-radius: 18px;
  padding: 25px;
  margin-top: 40px;

  h3 {
    font-weight: 500;
    font-size: 26px;

    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }

  @media (max-width: 520px) {
    padding: 15px;
  }
}

.credit__main__form__special {
  display: flex;
  flex-direction: column;
}

.credit__main__form__cash__special {
  width: 100%;
}

.credit__main__form__item__special {
  width: 100%;
}

.credit__main__form__item__total__con {
  width: 220px !important;
}
