.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 70px;

  @media (max-width: 768px) {
    margin-top: 25px;
  }
}

.advantages__wrapper {
  // width: 95%;

  ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;

    li {
      display: flex;
      background: var(--color-block-2-bg);
      width: 350px;
      position: relative;
      overflow: hidden;

      transition: all 0.2s ease;

      padding: 25px;
      border-radius: 16px;

      p {
        font-size: 24px;
        font-weight: 600;

        @media (max-width: 1024px) {
          font-size: 18px;
        }
      }

      img {
        width: 148px;
        height: 148px;
        -o-object-fit: contain;
        object-fit: contain;
        position: absolute;

        left: 70%;
        top: -10%;

        @media (max-width: 960px) {
          left: 65%;
        }

        @media (max-width: 480px) {
          left: 75%;

          width: 120px;
          height: 120px;
        }

        @media (max-width: 390px) {
          left: 70%;
        }
      }

      @media (max-width: 1120px) {
        width: 29vw;
      }

      &:hover {
        transform: scale(1.05);
      }

      @media (max-width: 768px) {
        width: calc((100% - 20px) / 2);
      }

      @media (max-width: 768px) {
        &:last-child {
          width: 100%;

          img {
            left: 85%;

            @media (max-width: 480px) {
              left: 75%;
            }

            @media (max-width: 390px) {
              left: 70%;
            }
          }
        }
      }

      @media (max-width: 480px) {
        width: 85vw;
        padding: 20px;
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  @media (max-width: 1400px) {
    gap: 20px;
  }
}
