.cookies {
  width: 100%;

  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  bottom: 16px;
  left: 16px;

  z-index: 999;
}

.cookies__wrapper {
  width: 430px;
  padding: 15px;
  border-radius: var(--radius-card);

  display: flex;
  align-items: center;
  gap: 20px;

  background: var(--color-payments-modal-bg);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  p {
    font-weight: 300;
    font-family: "Inter", sans-serif;
    opacity: 0.8;

    font-size: 14px;
    color: var(--color-cookies);

    a {
      font-weight: 400;
      font-family: "Inter", sans-serif;
      text-decoration: underline;
      color: var(--color-blue);
    }

    @media (max-width: 600px) {
      font-size: 13px;
    }
  }

  button {
    padding: 13px 32px;
    border-radius: var(--radius-button);
    background: var(--color-blue);
    color: var(--color-white);

    @media (max-width: 600px) {
      padding: 10px 18px;
    }
  }

  @media (max-width: 600px) {
    width: 85%;
    padding: 10px;
    gap: 10px;
  }
}
