.head {
  height: 100%;
  margin-top: 15px;
}

.head__wrapper {
  background: var(--color-blue);
  border-radius: 20px;

  padding-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;

  overflow: hidden;

  @media (max-width: 560px) {
    flex-direction: column;
  }
}

.head__img {
  margin-left: 20px;
  margin-right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  @media (max-width: 1024px) {
    width: 60%;
  }

  img {
    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  @media (max-width: 860px) {
    width: 90%;
  }

  @media (max-width: 560px) {
    width: 70%;
  }
}

.head__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--color-white);

  padding: 50px;

  height: 100%;

  h1 {
    font-size: 42px;
    font-weight: 600;

    font-family: "Rubik", sans-serif;

    @media (max-width: 1200px) {
      font-size: 32px;
    }

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 620px) {
      font-size: 20px;
    }

    @media (max-width: 560px) {
      font-size: 32px;
    }

    @media (max-width: 460px) {
      font-size: 28px;
    }
  }

  p {
    margin-top: 30px;
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  a {
    display: block;
    margin-top: 100px;
    background: var(--color-red);
    border-radius: 16px;
    color: var(--color-white);
    font-weight: 600;
    padding: 21px 60px;

    @media (max-width: 768px) {
      padding: 15px 40px;
      font-size: 14px;
      margin-top: 60px;
    }

    @media (max-width: 560px) {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    padding: 30px;
  }

  @media (max-width: 560px) {
    align-items: flex-start;
    width: 100%;
  }
}

.head__link__mobile {
  display: none;

  @media (max-width: 560px) {
    display: block;

    background: var(--color-red);
    border-radius: 16px;
    color: var(--color-white);
    font-weight: 600;
    padding: 15px;
    margin-top: 10px;
    width: calc(100% - 60px);

    text-align: center;

    font-size: 14px;
  }
}
