.progressBar {
  background-color: var(--color-progress);
  border-radius: 100px;
  overflow: hidden;
  position: relative;

  &Fill {
    height: 100%;
    background-color: #4cbd20;
    border-radius: 100px;
    transition: width 0.4s ease-out;
  }
}
