.button {
  width: 100%;
  padding: 20px;
  border-radius: var(--radius-button);

  background: #d9d9d9;
  color: #b7b7b7;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 17px;

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    filter: grayscale(100%);
  }

  @media (max-width: 430px) {
    font-size: 14px;
    padding: 18px;

    img {
      width: 1em;
      height: 1em;
    }
  }
}
