.footer {
  margin-top: 100px;
  margin-bottom: 60px;
}

.footer__wrappe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  border-top: 1px solid rgba(5, 18, 37, 0.2);

  p {
    margin-top: 40px;
    text-align: center;
    opacity: 0.6;
    font-weight: 300;

    width: 70%;
  }

  a {
    text-align: center;
    opacity: 0.6;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }
  }
}
