.address {
  margin-top: 25px;

  @media (max-width: 480px) {
    margin-top: 15px;
  }
}

.address__wrapper {
  padding: 35px;
  border-radius: 20px;
  background: var(--color-gray-secondary);

  h2 {
    font-weight: 600;
    font-family: "Inter", sans-serif;

    @media (max-width: 480px) {
      font-size: 19px;
    }
  }

  @media (max-width: 550px) {
    padding: 18px;
  }
}

.address__container {
  margin-top: 15px;
  border-radius: 14px;
  display: flex;
  align-items: start;
  gap: 15px;
}

.address__item__text__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .error_text {
    font-size: 12px;
    color: var(--color-red);
    font-weight: 300;
    padding-left: 5px;
  }
}

.address__item__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--color-block-bg);
  border-radius: 14px;
  padding: 10px;
  border: 1px solid var(--color-border-address);
  transition: border-color 0.2s;
  width: 100%;

  input {
    width: 100%;
  }

  &.error {
    border-color: var(--color-red);
  }
}

.address__item__text__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  @media (max-width: 780px) {
    flex-direction: column;
  }
}

.address__check {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  p {
    margin-top: 2px;
    font-weight: 300;
    width: 85%;

    @media (max-width: 480px) {
      margin-top: -5px;
    }
  }

  @media (max-width: 480px) {
    gap: 20px;
    align-items: start;
  }
}
