.rekvisits {
  margin-top: 25px;

  @media (max-width: 480px) {
    margin-top: 15px;
  }
}

.rekvisits__wrapper {
  padding: 35px;
  background: var(--color-gray-secondary);
  border-radius: var(--radius-outer);

  h2 {
    font-size: 26px;
    font-weight: 500;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  ul {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    li {
      padding: 20px;
      background: var(--color-block-bg);
      border-radius: var(--radius-inner);

      .rekvisits__item__icon {
        width: 52px;
        height: 52px;
        background: var(--color-gray-light);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        flex-shrink: 0;

        border-radius: 12px;

        svg {
          color: var(--color-blue-secondary);
        }
      }

      .rekvisits__item__main {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
      }

      .rekvisits__form__item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        label {
          font-size: 13px;
          font-weight: 300;
          opacity: 0.6;
        }

        input {
          margin-top: 7px;
          font-size: 16px;
          font-weight: 600;
          font-family: "Inter", sans-serif;
          background: none;
          color: var(--color-black);
        }

        svg {
          position: absolute;
          right: 0;
          top: 50%;
        }
      }

      @media (max-width: 480px) {
        padding: 15px;
      }
    }

    @media (max-width: 480px) {
      margin-top: 15px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px;
  }
}
