.credit {
  margin-top: 64px;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.credit__wrapper {
  background: var(--color-gray-secondary);
  padding: 40px;
  border-radius: 20px;

  .credit__title {
    font-size: 42px;
    font-weight: 600;

    @media (max-width: 1024px) {
      font-size: 32px;
    }

    @media (max-width: 860px) {
      font-size: 28px;
    }
  }

  .credit__desc {
    font-size: 16px;
    font-weight: 300;
    width: 605px;
    margin-top: 15px;

    @media (max-width: 1024px) {
      // font-size: 14px;
    }

    @media (max-width: 668px) {
      width: 100%;
    }
  }

  @media (max-width: 1400px) {
    padding: 30px;
  }

  @media (max-width: 520px) {
    padding: 20px;
  }
}

.credit__main {
  background: var(--color-block-bg);
  border-radius: 18px;
  padding: 25px;
  margin-top: 40px;

  h3 {
    font-weight: 500;
    font-size: 26px;

    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }

  @media (max-width: 520px) {
    padding: 15px;
  }
}

.credit__main__form__auth {
  width: 100%;
  padding: 20px;
  border-radius: 16px;

  background: #d9d9d9;
  color: #b7b7b7;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 17px;

  img {
    width: 24px;
    height: auto;
    filter: grayscale(100%);
  }

  @media (max-width: 1450px) {
    width: 100%;
  }

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }

  @media (max-width: 390px) {
    // font-size: 12px;
  }
}

.credit__main__form__item__total__con {
  width: 220px !important;
  // background: red !important;
}
