.passport {
  margin-top: 25px;

  @media (max-width: 480px) {
    margin-top: 15px;
  }
}

.passport__wrapper {
  padding: 35px;
  border-radius: var(--radius-outer);
  background: var(--color-gray-secondary);

  h2 {
    font-weight: 600;
    font-family: "Inter", sans-serif;

    @media (max-width: 480px) {
      font-size: 19px;
    }
  }

  ul {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 100%;
    align-items: flex-start;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      grid-column: span 2;

      &:nth-child(4),
      &:nth-child(5) {
        grid-column: span 3;
      }
    }

    li {
      padding: 10px;
      background: var(--color-block-bg);
      border-radius: var(--radius-inner);
      border: 1px solid var(--color-border-address);
      display: flex;
      align-items: center;
      gap: 15px;
      transition: border-color 0.2s;

      &.li_error {
        border-color: var(--color-red);
      }

      @media (max-width: 550px) {
        padding: 10px;
      }
    }

    @media (max-width: 780px) {
      display: flex;
      flex-direction: column;

      & > div {
        width: 100%;
      }
    }

    &:last-child {
      display: flex;

      & > div {
        width: 100%;
      }
    }
  }

  @media (max-width: 550px) {
    padding: 18px;
  }
}

.passport__item__icon {
  svg {
    color: var(--color-blue-secondary);
  }
}

.passport__item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 65px;

  p {
    &:first-child {
      font-size: 13px;
      opacity: 0.6;
      font-weight: 300;
    }

    &:last-child {
      font-weight: 600;

      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 520px) {
    height: 46px;
  }
}

.error_text {
  font-size: 12px;
  color: var(--color-red);
  font-weight: 300;
  padding-left: 5px;
}

.passport__item__text__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 12px;
  width: 100%;

  .passport__item__text {
    width: 100%;
  }
}
