.header {
  padding: 20px 0;
}

.header__logo {
  cursor: pointer;

  img {
    @media (max-width: 860px) {
      width: 200px;
      height: auto;
    }

    @media (max-width: 525px) {
      width: 170px;
    }

  }
}

.header__wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.header__buttons {
  display: flex;
  gap: 12px;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 22px;
    border-radius: 14px;
    cursor: pointer;

    font-weight: 500;

    &.header__button_business {
      background: var(--color-gray-light);
      color: var(--color-blue);
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    &.header__button_signin {
      background: var(--color-blue);
      color: var(--color-white);
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    @media (max-width: 860px) {
      font-size: 14px;
    }

    @media (max-width: 525px) {
      padding: 13px;
    }

    p {
      @media (max-width: 525px) {
        display: none;
      }
    }

    img {
      @media (max-width: 525px) {
        width: 18px;
        height: 18px;
        object-fit: contain;
      }
    }
  }
}
