.checkbox_container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 30px;
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}

.checkbox_container input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin: 0;
}

.track {
  position: absolute;
  inset: 0;
  background-color: var(--color-gray-secondary);
  border-radius: var(--radius-button);
  transition: background-color 0.2s ease;
  pointer-events: none;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: var(--color-white);
  border: 2px solid #f6f7f8;
  border-radius: 50%;
  transition: transform 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.checkbox_container input:checked ~ .track {
  background-color: var(--color-blue);
}

.checkbox_container input:checked ~ .track .thumb {
  transform: translateX(20px);
}
