@font-face {
  font-family: "Rubik";
  src: local("../assets/fonts/Rubik.ttf"),
    url("../assets/fonts/Rubik.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("../assets/fonts/Inter.ttf"),
    url("../assets/fonts/Inter.ttf") format("truetype");
}
