:root {
  --color-white: #fff;
  --color-black: #051225;
  --color-red: #e11d12;
  --color-gray: #d9d9d9;
  --color-gray-light: #e3f4fa;
  --color-gray-secondary: #f6f7f8;
  --color-gray-third: #e4e8ed;
  --color-gray-fourth: #e1dfda;
  --color-blue: #22c0ff;
  --color-blue-light: #02b4fb;

  --color-blue-secondary: #ade5fb;
}
