@use "./_reset";
@use "./vars";
@use "./fonts";

/* BASIC SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-display: swap;

  background: var(--color-white);
  color: var(--color-black);

  overflow-x: hidden !important;

  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 75px;
  min-height: 100vh;
}

img {
  pointer-events: none;
  user-select: none;
}

.App {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.header__container {
  margin-bottom: 100px;
}

footer {
  margin-top: auto;
}

::-webkit-scrollbar {
  background: var(--color-gray);
  display: block;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue-light);
  display: block;
  width: 8px;
  border-radius: 5px;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: inherit;
  font-family: inherit;
  line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

a {
  outline: none !important;
}

ul,
li {
  list-style-type: none;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  touch-action: manipulation;
}

.loan_application__wrapper {
  display: flex;
  gap: 30px;

  @media (max-width: 1200px) {
    gap: 0;
  }
}

.loan_application__main {
  width: 100%;
}

.animated-wrapper {
  width: 100%;
  overflow: hidden;
}

/* CREDIT SECTION */

.credit__main__form__item,
.credit__main__form__target,
.credit__main__form__cash {
  background: var(--color-gray-secondary);
  padding: 10px;

  button {
    background: none;
  }

  .credit__main__form__item__value {
    p {
      &:first-child {
        font-size: 13px;
        font-weight: 300;
      }

      &:last-child {
        font-size: 17px;
        font-weight: 500;

        @media (max-width: 1024px) {
          font-size: 15px;
        }
      }
    }
  }
}

.credit__main__form__elem {
  display: flex;

  .credit__main__form__item {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 100%;

    &:first-child {
      border-bottom-left-radius: 16px;
      border-top-left-radius: 16px;

      padding-right: 16px;

      @media (max-width: 550px) {
        border-radius: 16px;
        padding: 20px 15px;
      }
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 16px;
      border-top-right-radius: 16px;
      padding-left: 16px;

      padding: 15px;

      justify-content: space-between;

      position: relative;

      .dropdown__list {
        position: absolute;

        display: flex;
        flex-direction: column;
        background: var(--color-gray-secondary);
        box-shadow: 0px 4px 20px rgba(0, 0, 32, 0.15);
        width: 225px;
        height: 245px;

        overflow-y: auto;

        top: 110%;
        left: 0;

        border-radius: 16px;

        gap: 4px;
        padding: 16px;

        z-index: 9;

        li {
          font-weight: 300;
          font-size: 16px;
          padding: 10px 15px;

          cursor: pointer;

          transition: background 0.2s ease;

          &:hover {
            background: rgba(2, 180, 251, 0.1);
          }

          @media (max-width: 1024px) {
            font-size: 14px;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;

        width: 1px;
        height: 100%;

        background: var(--color-gray-third);

        @media (max-width: 550px) {
          display: none;
        }
      }

      @media (max-width: 550px) {
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
      }
    }

    @media (max-width: 1450px) {
      width: 100%;
    }
  }

  @media (max-width: 550px) {
    flex-direction: column;
    gap: 10px;
  }
}

.credit__main__form {
  display: flex;
  gap: 12px;
  margin-top: 20px;

  @media (max-width: 1450px) {
    flex-direction: column;
  }
}

.credit__main__form__other {
  display: flex;
  gap: 12px;

  .credit__main__form__item,
  .credit__main__form__cash {
    @media (max-width: 1450px) {
      width: 100%;
    }
  }

  @media (max-width: 520px) {
    flex-direction: column;
  }
}

.credit__main__form__item__total {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: none;

  font-weight: 600;

  @media (max-width: 1450px) {
    width: 100%;
  }
}

.credit__main__form__target {
  display: flex;
  justify-content: space-between;
  width: 250px;
  border-radius: 16px;

  position: relative;

  .dropdown__list {
    position: absolute;

    display: flex;
    flex-direction: column;
    background: var(--color-gray-secondary);
    box-shadow: 0px 4px 20px rgba(0, 0, 32, 0.15);
    width: 225px;
    height: 245px;

    overflow-y: auto;

    top: 110%;
    left: 0;

    border-radius: 16px;

    gap: 4px;
    padding: 16px;

    z-index: 9;

    li {
      font-weight: 300;
      font-size: 16px;
      padding: 10px 15px;

      cursor: pointer;

      transition: background 0.2s ease;

      &:hover {
        background: rgba(2, 180, 251, 0.1);
      }

      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
}

.credit__main__form__cash {
  border-radius: 16px;

  position: relative;

  border: 1px solid var(--color-gray-secondary);

  input {
    margin-top: 6px;
    background: none;
    font-size: 17px;
    font-weight: 500;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  }
}

.credit__main__form__cash__error {
  font-size: 13px !important;
  font-weight: 300 !important;
  color: var(--color-red);

  position: absolute;

  left: 5px;
  top: 65px;
}

.credit__main__form__cash.error {
  border: 1px solid var(--color-red);
}

.credit__main__form__item__input__container {
  position: relative;
}

// .credit__main__form__item {
//   width: 100%;
// }

.credit__main__form__item__special__con {
  .credit__main__form__item {
    &:last-child {
      border-radius: 16px;
    }

    &::before {
      display: none;
    }
  }
}

.credit__main__data {
  @media (max-width: 768px) {
    width: 100%;
  }

  .credit__main__form__target {
    width: 220px;

    @media (max-width: 1450px) {
      width: 45vw;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }
}

.credits__main__nav {
  background: var(--color-gray-secondary);
  padding: 2px;
  width: 385px;
  border-radius: 8px;
  margin-top: 30px;

  button {
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    background: none;
  }

  button.active {
    background: var(--color-white);
    box-shadow: 0px 0px 5px rgba(0, 0, 32, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.039);
  }

  @media (max-width: 425px) {
    width: 340px;
  }

  @media (max-width: 365px) {
    width: 320px;
  }
}

.credits__wrapper,
.rating__wrapper,
.profile__wrapper {
  display: flex;
  gap: 30px;

  @media (max-width: 1200px) {
    gap: 0;
  }
}

.credits__main,
.rating__main,
.profile__main {
  width: 100%;
}

.circle-progress {
  width: 200px;
  height: 200px;

  @media (max-width: 768px) {
    width: 250px;
    height: 250px;
  }
}
